co.itmasters.solucion.web/Service References/OfertaService/OfertaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="OfertaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3487/OfertaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3487/OfertaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3487/OfertaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOfertaService_Postulados_InputMessage">
    <wsdl:part name="parameters" element="tns:Postulados" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_Postulados_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostuladosResponse" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_Postulacion_InputMessage">
    <wsdl:part name="parameters" element="tns:Postulacion" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_Postulacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostulacionResponse" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_TraePlanesAdquiridosEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:TraePlanesAdquiridosEmpresa" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_TraePlanesAdquiridosEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraePlanesAdquiridosEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_GetOfertaPersonaDetalle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOfertaPersonaDetalle" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_GetOfertaPersonaDetalle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOfertaPersonaDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_GetOfertaPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOfertaPersona" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_GetOfertaPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOfertaPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_TraeOfertaDetalle_InputMessage">
    <wsdl:part name="parameters" element="tns:TraeOfertaDetalle" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_TraeOfertaDetalle_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraeOfertaDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_TraerEstadisticasOferta_InputMessage">
    <wsdl:part name="parameters" element="tns:TraerEstadisticasOferta" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_TraerEstadisticasOferta_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraerEstadisticasOfertaResponse" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_TraeOfertaEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:TraeOfertaEmpresa" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_TraeOfertaEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraeOfertaEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_TraeEstadoOfertaEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:TraeEstadoOfertaEmpresa" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_TraeEstadoOfertaEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraeEstadoOfertaEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_TraeEstadoOferta_InputMessage">
    <wsdl:part name="parameters" element="tns:TraeEstadoOferta" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_TraeEstadoOferta_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraeEstadoOfertaResponse" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_AnulaOferta_InputMessage">
    <wsdl:part name="parameters" element="tns:AnulaOferta" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_AnulaOferta_OutputMessage">
    <wsdl:part name="parameters" element="tns:AnulaOfertaResponse" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_PublicarOferta_InputMessage">
    <wsdl:part name="parameters" element="tns:PublicarOferta" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_PublicarOferta_OutputMessage">
    <wsdl:part name="parameters" element="tns:PublicarOfertaResponse" />
  </wsdl:message>
  <wsdl:portType name="IOfertaService">
    <wsdl:operation name="Postulados">
      <wsdl:input wsaw:Action="http://tempuri.org/IOfertaService/Postulados" message="tns:IOfertaService_Postulados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOfertaService/PostuladosResponse" message="tns:IOfertaService_Postulados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Postulacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IOfertaService/Postulacion" message="tns:IOfertaService_Postulacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOfertaService/PostulacionResponse" message="tns:IOfertaService_Postulacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraePlanesAdquiridosEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IOfertaService/TraePlanesAdquiridosEmpresa" message="tns:IOfertaService_TraePlanesAdquiridosEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOfertaService/TraePlanesAdquiridosEmpresaResponse" message="tns:IOfertaService_TraePlanesAdquiridosEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOfertaPersonaDetalle">
      <wsdl:input wsaw:Action="http://tempuri.org/IOfertaService/GetOfertaPersonaDetalle" message="tns:IOfertaService_GetOfertaPersonaDetalle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOfertaService/GetOfertaPersonaDetalleResponse" message="tns:IOfertaService_GetOfertaPersonaDetalle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOfertaPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/IOfertaService/GetOfertaPersona" message="tns:IOfertaService_GetOfertaPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOfertaService/GetOfertaPersonaResponse" message="tns:IOfertaService_GetOfertaPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraeOfertaDetalle">
      <wsdl:input wsaw:Action="http://tempuri.org/IOfertaService/TraeOfertaDetalle" message="tns:IOfertaService_TraeOfertaDetalle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOfertaService/TraeOfertaDetalleResponse" message="tns:IOfertaService_TraeOfertaDetalle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraerEstadisticasOferta">
      <wsdl:input wsaw:Action="http://tempuri.org/IOfertaService/TraerEstadisticasOferta" message="tns:IOfertaService_TraerEstadisticasOferta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOfertaService/TraerEstadisticasOfertaResponse" message="tns:IOfertaService_TraerEstadisticasOferta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraeOfertaEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IOfertaService/TraeOfertaEmpresa" message="tns:IOfertaService_TraeOfertaEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOfertaService/TraeOfertaEmpresaResponse" message="tns:IOfertaService_TraeOfertaEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraeEstadoOfertaEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IOfertaService/TraeEstadoOfertaEmpresa" message="tns:IOfertaService_TraeEstadoOfertaEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOfertaService/TraeEstadoOfertaEmpresaResponse" message="tns:IOfertaService_TraeEstadoOfertaEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraeEstadoOferta">
      <wsdl:input wsaw:Action="http://tempuri.org/IOfertaService/TraeEstadoOferta" message="tns:IOfertaService_TraeEstadoOferta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOfertaService/TraeEstadoOfertaResponse" message="tns:IOfertaService_TraeEstadoOferta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AnulaOferta">
      <wsdl:input wsaw:Action="http://tempuri.org/IOfertaService/AnulaOferta" message="tns:IOfertaService_AnulaOferta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOfertaService/AnulaOfertaResponse" message="tns:IOfertaService_AnulaOferta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PublicarOferta">
      <wsdl:input wsaw:Action="http://tempuri.org/IOfertaService/PublicarOferta" message="tns:IOfertaService_PublicarOferta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOfertaService/PublicarOfertaResponse" message="tns:IOfertaService_PublicarOferta_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOfertaService" type="tns:IOfertaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Postulados">
      <soap:operation soapAction="http://tempuri.org/IOfertaService/Postulados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Postulacion">
      <soap:operation soapAction="http://tempuri.org/IOfertaService/Postulacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraePlanesAdquiridosEmpresa">
      <soap:operation soapAction="http://tempuri.org/IOfertaService/TraePlanesAdquiridosEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOfertaPersonaDetalle">
      <soap:operation soapAction="http://tempuri.org/IOfertaService/GetOfertaPersonaDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOfertaPersona">
      <soap:operation soapAction="http://tempuri.org/IOfertaService/GetOfertaPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeOfertaDetalle">
      <soap:operation soapAction="http://tempuri.org/IOfertaService/TraeOfertaDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerEstadisticasOferta">
      <soap:operation soapAction="http://tempuri.org/IOfertaService/TraerEstadisticasOferta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeOfertaEmpresa">
      <soap:operation soapAction="http://tempuri.org/IOfertaService/TraeOfertaEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeEstadoOfertaEmpresa">
      <soap:operation soapAction="http://tempuri.org/IOfertaService/TraeEstadoOfertaEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeEstadoOferta">
      <soap:operation soapAction="http://tempuri.org/IOfertaService/TraeEstadoOferta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnulaOferta">
      <soap:operation soapAction="http://tempuri.org/IOfertaService/AnulaOferta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PublicarOferta">
      <soap:operation soapAction="http://tempuri.org/IOfertaService/PublicarOferta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OfertaService">
    <wsdl:port name="BasicHttpBinding_IOfertaService" binding="tns:BasicHttpBinding_IOfertaService">
      <soap:address location="http://localhost:3487/OfertaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>