co.itmasters.solucion.web/Service References/ComunesService/ComunesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ComunesService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3487/ComunesService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3487/ComunesService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3487/ComunesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" />
      <xsd:import schemaLocation="http://localhost:3487/ComunesService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:3487/ComunesService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://localhost:3487/ComunesService.svc?xsd=xsd5" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IComunesService_ObtenerLista_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerLista" />
  </wsdl:message>
  <wsdl:message name="IComunesService_ObtenerLista_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaResponse" />
  </wsdl:message>
  <wsdl:message name="IComunesService_ObtenerListaFiltro_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaFiltro" />
  </wsdl:message>
  <wsdl:message name="IComunesService_ObtenerListaFiltro_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaFiltroResponse" />
  </wsdl:message>
  <wsdl:message name="IComunesService_ObtenerListaFiltros_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaFiltros" />
  </wsdl:message>
  <wsdl:message name="IComunesService_ObtenerListaFiltros_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaFiltrosResponse" />
  </wsdl:message>
  <wsdl:message name="IComunesService_ObtenerListaTablaFiltro_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaTablaFiltro" />
  </wsdl:message>
  <wsdl:message name="IComunesService_ObtenerListaTablaFiltro_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaTablaFiltroResponse" />
  </wsdl:message>
  <wsdl:message name="IComunesService_ObtenerListaTablaFiltros_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaTablaFiltros" />
  </wsdl:message>
  <wsdl:message name="IComunesService_ObtenerListaTablaFiltros_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaTablaFiltrosResponse" />
  </wsdl:message>
  <wsdl:message name="IComunesService_InsertDinamico_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertDinamico" />
  </wsdl:message>
  <wsdl:message name="IComunesService_InsertDinamico_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertDinamicoResponse" />
  </wsdl:message>
  <wsdl:message name="IComunesService_RelacionListaInsertaList_InputMessage">
    <wsdl:part name="parameters" element="tns:RelacionListaInsertaList" />
  </wsdl:message>
  <wsdl:message name="IComunesService_RelacionListaInsertaList_OutputMessage">
    <wsdl:part name="parameters" element="tns:RelacionListaInsertaListResponse" />
  </wsdl:message>
  <wsdl:message name="IComunesService_RelacionInserta_InputMessage">
    <wsdl:part name="parameters" element="tns:RelacionInserta" />
  </wsdl:message>
  <wsdl:message name="IComunesService_RelacionInserta_OutputMessage">
    <wsdl:part name="parameters" element="tns:RelacionInsertaResponse" />
  </wsdl:message>
  <wsdl:message name="IComunesService_ObtenerConsultaReporte_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerConsultaReporte" />
  </wsdl:message>
  <wsdl:message name="IComunesService_ObtenerConsultaReporte_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerConsultaReporteResponse" />
  </wsdl:message>
  <wsdl:portType name="IComunesService">
    <wsdl:operation name="ObtenerLista">
      <wsdl:input wsaw:Action="http://tempuri.org/IComunesService/ObtenerLista" message="tns:IComunesService_ObtenerLista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComunesService/ObtenerListaResponse" message="tns:IComunesService_ObtenerLista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaFiltro">
      <wsdl:input wsaw:Action="http://tempuri.org/IComunesService/ObtenerListaFiltro" message="tns:IComunesService_ObtenerListaFiltro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComunesService/ObtenerListaFiltroResponse" message="tns:IComunesService_ObtenerListaFiltro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaFiltros">
      <wsdl:input wsaw:Action="http://tempuri.org/IComunesService/ObtenerListaFiltros" message="tns:IComunesService_ObtenerListaFiltros_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComunesService/ObtenerListaFiltrosResponse" message="tns:IComunesService_ObtenerListaFiltros_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaTablaFiltro">
      <wsdl:input wsaw:Action="http://tempuri.org/IComunesService/ObtenerListaTablaFiltro" message="tns:IComunesService_ObtenerListaTablaFiltro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComunesService/ObtenerListaTablaFiltroResponse" message="tns:IComunesService_ObtenerListaTablaFiltro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaTablaFiltros">
      <wsdl:input wsaw:Action="http://tempuri.org/IComunesService/ObtenerListaTablaFiltros" message="tns:IComunesService_ObtenerListaTablaFiltros_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComunesService/ObtenerListaTablaFiltrosResponse" message="tns:IComunesService_ObtenerListaTablaFiltros_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertDinamico">
      <wsdl:input wsaw:Action="http://tempuri.org/IComunesService/InsertDinamico" message="tns:IComunesService_InsertDinamico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComunesService/InsertDinamicoResponse" message="tns:IComunesService_InsertDinamico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RelacionListaInsertaList">
      <wsdl:input wsaw:Action="http://tempuri.org/IComunesService/RelacionListaInsertaList" message="tns:IComunesService_RelacionListaInsertaList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComunesService/RelacionListaInsertaListResponse" message="tns:IComunesService_RelacionListaInsertaList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RelacionInserta">
      <wsdl:input wsaw:Action="http://tempuri.org/IComunesService/RelacionInserta" message="tns:IComunesService_RelacionInserta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComunesService/RelacionInsertaResponse" message="tns:IComunesService_RelacionInserta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerConsultaReporte">
      <wsdl:input wsaw:Action="http://tempuri.org/IComunesService/ObtenerConsultaReporte" message="tns:IComunesService_ObtenerConsultaReporte_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComunesService/ObtenerConsultaReporteResponse" message="tns:IComunesService_ObtenerConsultaReporte_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IComunesService" type="tns:IComunesService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerLista">
      <soap:operation soapAction="http://tempuri.org/IComunesService/ObtenerLista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaFiltro">
      <soap:operation soapAction="http://tempuri.org/IComunesService/ObtenerListaFiltro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaFiltros">
      <soap:operation soapAction="http://tempuri.org/IComunesService/ObtenerListaFiltros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaTablaFiltro">
      <soap:operation soapAction="http://tempuri.org/IComunesService/ObtenerListaTablaFiltro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaTablaFiltros">
      <soap:operation soapAction="http://tempuri.org/IComunesService/ObtenerListaTablaFiltros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDinamico">
      <soap:operation soapAction="http://tempuri.org/IComunesService/InsertDinamico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RelacionListaInsertaList">
      <soap:operation soapAction="http://tempuri.org/IComunesService/RelacionListaInsertaList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RelacionInserta">
      <soap:operation soapAction="http://tempuri.org/IComunesService/RelacionInserta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerConsultaReporte">
      <soap:operation soapAction="http://tempuri.org/IComunesService/ObtenerConsultaReporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ComunesService">
    <wsdl:port name="BasicHttpBinding_IComunesService" binding="tns:BasicHttpBinding_IComunesService">
      <soap:address location="http://localhost:3487/ComunesService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>