co.itmasters.solucion.web/Service References/ComunesService/ComunesService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3487/ComunesService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
  <xs:import schemaLocation="http://localhost:3487/ComunesService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfListaVO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListaVO" nillable="true" type="tns:ListaVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListaVO" nillable="true" type="tns:ArrayOfListaVO" />
  <xs:complexType name="ListaVO">
    <xs:sequence>
      <xs:element name="_id" nillable="true" type="xs:anyType" />
      <xs:element name="_nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListaVO" nillable="true" type="tns:ListaVO" />
  <xs:complexType name="ArrayOfParametro">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Parametro" type="tns:Parametro" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParametro" nillable="true" type="tns:ArrayOfParametro" />
  <xs:complexType name="Parametro">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="_data" nillable="true" type="xs:anyType" />
      <xs:element name="_name" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data" name="_type" type="q1:DbType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Parametro" nillable="true" type="tns:Parametro" />
  <xs:complexType name="ArrayOfRelacionParamVO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RelacionParamVO" nillable="true" type="tns:RelacionParamVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRelacionParamVO" nillable="true" type="tns:ArrayOfRelacionParamVO" />
  <xs:complexType name="RelacionParamVO">
    <xs:sequence>
      <xs:element name="_x003C_Fecha_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_Inserta_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Parametro_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Usuario_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ValorCombo_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ValorLista_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RelacionParamVO" nillable="true" type="tns:RelacionParamVO" />
</xs:schema>