co.itmasters.solucion.web/Service References/EmpresaService/EmpresaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EmpresaVO">
    <xs:sequence>
      <xs:element name="_x003C_NomCiudadEmpresa_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Oferta_x003E_k__BackingField" nillable="true" type="tns:OfertaVO" />
      <xs:element name="_x003C_apeRepLegal_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_camaraComercio_x003E_k__BackingField" nillable="true" type="xs:boolean" />
      <xs:element name="_x003C_completaDatos_x003E_k__BackingField" nillable="true" type="xs:boolean" />
      <xs:element name="_x003C_correoElectronico_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_direccion_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_estado_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_fase_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_fechaCrea_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_fechaModifica_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_idActividadEconomica_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_idCiudadEmpresa_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_idDepartamentoEmpresa_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_idEmpresa_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_idOferta_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_idSectorEconomico_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_idTipoIdeRepLegal_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_idTipoIde_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_idUsuario_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_nomEmpresa_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_nomRepLegal_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_numIdeRepLegal_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_numeroIde_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_observacion_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_paquetesActivos_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_rut_x003E_k__BackingField" nillable="true" type="xs:boolean" />
      <xs:element name="_x003C_rutaAvatar_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_telRepLegal_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_telefono_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_typeModify_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_usuarioCrea_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_usuarioModfica_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmpresaVO" nillable="true" type="tns:EmpresaVO" />
  <xs:complexType name="OfertaVO">
    <xs:sequence>
      <xs:element name="_x003C_NivelEstudios_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Observaciones_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_RangoSalario_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_activas_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_cambioCiudadResidencia_x003E_k__BackingField" nillable="true" type="xs:boolean" />
      <xs:element name="_x003C_cantidadVacantes_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_capacitaciones_x003E_k__BackingField" nillable="true" type="xs:boolean" />
      <xs:element name="_x003C_cargo_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_descripcionPago_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_descripcionVacante_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_diasPublicacionOferta_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_disponibilidadViajar_x003E_k__BackingField" nillable="true" type="xs:boolean" />
      <xs:element name="_x003C_entrevistaZoom_x003E_k__BackingField" nillable="true" type="xs:boolean" />
      <xs:element name="_x003C_esConfidencial_x003E_k__BackingField" nillable="true" type="xs:boolean" />
      <xs:element name="_x003C_esDestacada_x003E_k__BackingField" nillable="true" type="xs:boolean" />
      <xs:element name="_x003C_estado_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_fechaAprobacion_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_fechaCrea_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_fechaFinaliza_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_fechaInicia_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_fechaModifica_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_fechaPublicacion_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_fechaUltimaOferta_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_fechaVencimiento_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_filtroCandidatos_x003E_k__BackingField" nillable="true" type="xs:boolean" />
      <xs:element name="_x003C_hojasdeVida_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_hvVista_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_idCiudadVacante_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_idEmpresa_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_idModalidad_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_idMunicipioVacante_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_idNivelEstudiosRequeridos_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_idOcupacion10_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_idOcupacion1_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_idOcupacion2_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_idOcupacion3_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_idOcupacion4_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_idOcupacion5_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_idOcupacion6_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_idOcupacion7_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_idOcupacion8_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_idOcupacion9_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_idOcupacion_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_idOferta_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_idPago_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_idPersona_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_idPlanAdquirido_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_idPlan_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_idRangoSalario_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_idSectorEconomico_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_idUsuario_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_multiusuario_x003E_k__BackingField" nillable="true" type="xs:boolean" />
      <xs:element name="_x003C_nomCiudad_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_nomEmpresa_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_nomOcupacion10_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_nomOcupacion2_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_nomOcupacion3_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_nomOcupacion4_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_nomOcupacion5_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_nomOcupacion6_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_nomOcupacion7_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_nomOcupacion8_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_nomOcupacion9_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_nomOcupacion_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_nomPlan_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_nroHojasPorOferta_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_nroHojasVidaAplicada_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_nroOfertas_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_numIdentificacion_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_numeroOfertas_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_ofertaConfidencial_x003E_k__BackingField" nillable="true" type="xs:boolean" />
      <xs:element name="_x003C_ofertaDestacada_x003E_k__BackingField" nillable="true" type="xs:boolean" />
      <xs:element name="_x003C_ofertasConsumidas_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_payment_id_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_payment_method_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_pendientes_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_preguntasDeFiltro_x003E_k__BackingField" nillable="true" type="xs:boolean" />
      <xs:element name="_x003C_rutaAvatar_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_seguidores_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_tiempoExperiencia_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_tituloVacante_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_totHv_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_typeModify_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_unidadMedidaExperiencia_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_usuarioCrea_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_usuarioModfica_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_valorPago_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_valorPlan_x003E_k__BackingField" nillable="true" type="xs:double" />
      <xs:element name="_x003C_vencidas_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_vigenciaPlan_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="preference_id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OfertaVO" nillable="true" type="tns:OfertaVO" />
  <xs:complexType name="ArrayOfEmpresaVO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmpresaVO" nillable="true" type="tns:EmpresaVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpresaVO" nillable="true" type="tns:ArrayOfEmpresaVO" />
</xs:schema>