co.itmasters.solucion.web/Service References/EmpresaService/EmpresaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EmpresaVO">
    <xs:sequence>
      <xs:element name="_x003C_NomCiudadEmpresa_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_apeRepLegal_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_camaraComercio_x003E_k__BackingField" nillable="true" type="xs:boolean" />
      <xs:element name="_x003C_completaDatos_x003E_k__BackingField" nillable="true" type="xs:boolean" />
      <xs:element name="_x003C_correoElectronico_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_direccion_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_estado_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_fase_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_fechaCrea_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_fechaModifica_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_idActividadEconomica_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_idCiudadEmpresa_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_idDepartamentoEmpresa_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_idEmpresa_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_idOferta_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_idSectorEconomico_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_idTipoIdeRepLegal_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_idTipoIde_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_idUsuario_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_nomEmpresa_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_nomRepLegal_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_numIdeRepLegal_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_numeroIde_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_paquetesActivos_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_rut_x003E_k__BackingField" nillable="true" type="xs:boolean" />
      <xs:element name="_x003C_rutaAvatar_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_telRepLegal_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_telefono_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_usuarioCrea_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_usuarioModfica_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmpresaVO" nillable="true" type="tns:EmpresaVO" />
  <xs:complexType name="ArrayOfEmpresaVO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmpresaVO" nillable="true" type="tns:EmpresaVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpresaVO" nillable="true" type="tns:ArrayOfEmpresaVO" />
</xs:schema>