co.itmasters.solucion.web/Service References/PersonaService/PersonaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="PersonaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3487/PersonaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3487/PersonaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3487/PersonaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" />
      <xsd:import schemaLocation="http://localhost:3487/PersonaService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPersonaService_PersonaDatosBasicos_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:PersonaDatosBasicos_Update" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_PersonaDatosBasicos_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:PersonaDatosBasicos_UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_PersonaAcademia_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:PersonaAcademia_Update" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_PersonaAcademia_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:PersonaAcademia_UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_PersonaExperiencia_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:PersonaExperiencia_Update" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_PersonaExperiencia_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:PersonaExperiencia_UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_PersonaAptitud_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:PersonaAptitud_Update" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_PersonaAptitud_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:PersonaAptitud_UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_PersonaCondicionManoObra_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:PersonaCondicionManoObra_Update" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_PersonaCondicionManoObra_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:PersonaCondicionManoObra_UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_ActEconomicaAutocomplete_InputMessage">
    <wsdl:part name="parameters" element="tns:ActEconomicaAutocomplete" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_ActEconomicaAutocomplete_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActEconomicaAutocompleteResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_CiudadDepartamentoPaisForm_InputMessage">
    <wsdl:part name="parameters" element="tns:CiudadDepartamentoPaisForm" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_CiudadDepartamentoPaisForm_OutputMessage">
    <wsdl:part name="parameters" element="tns:CiudadDepartamentoPaisFormResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_CiudadAutocompleteForm_InputMessage">
    <wsdl:part name="parameters" element="tns:CiudadAutocompleteForm" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_CiudadAutocompleteForm_OutputMessage">
    <wsdl:part name="parameters" element="tns:CiudadAutocompleteFormResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_Persona_DatosBasicos_InputMessage">
    <wsdl:part name="parameters" element="tns:Persona_DatosBasicos" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_Persona_DatosBasicos_OutputMessage">
    <wsdl:part name="parameters" element="tns:Persona_DatosBasicosResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_Persona_DatosBasicosPersonas_InputMessage">
    <wsdl:part name="parameters" element="tns:Persona_DatosBasicosPersonas" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_Persona_DatosBasicosPersonas_OutputMessage">
    <wsdl:part name="parameters" element="tns:Persona_DatosBasicosPersonasResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_Guardar_PersonaTercero_InputMessage">
    <wsdl:part name="parameters" element="tns:Guardar_PersonaTercero" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_Guardar_PersonaTercero_OutputMessage">
    <wsdl:part name="parameters" element="tns:Guardar_PersonaTerceroResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_Guardar_CambiarClave_InputMessage">
    <wsdl:part name="parameters" element="tns:Guardar_CambiarClave" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_Guardar_CambiarClave_OutputMessage">
    <wsdl:part name="parameters" element="tns:Guardar_CambiarClaveResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_Buscar_Persona_InputMessage">
    <wsdl:part name="parameters" element="tns:Buscar_Persona" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_Buscar_Persona_OutputMessage">
    <wsdl:part name="parameters" element="tns:Buscar_PersonaResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_Buscar_personaId_InputMessage">
    <wsdl:part name="parameters" element="tns:Buscar_personaId" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_Buscar_personaId_OutputMessage">
    <wsdl:part name="parameters" element="tns:Buscar_personaIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_Buscar_personaDatosModificados_InputMessage">
    <wsdl:part name="parameters" element="tns:Buscar_personaDatosModificados" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_Buscar_personaDatosModificados_OutputMessage">
    <wsdl:part name="parameters" element="tns:Buscar_personaDatosModificadosResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_Guardar_Funcionario_InputMessage">
    <wsdl:part name="parameters" element="tns:Guardar_Funcionario" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_Guardar_Funcionario_OutputMessage">
    <wsdl:part name="parameters" element="tns:Guardar_FuncionarioResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_Buscar_Funcionario_InputMessage">
    <wsdl:part name="parameters" element="tns:Buscar_Funcionario" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_Buscar_Funcionario_OutputMessage">
    <wsdl:part name="parameters" element="tns:Buscar_FuncionarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IPersonaService">
    <wsdl:operation name="PersonaDatosBasicos_Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonaService/PersonaDatosBasicos_Update" message="tns:IPersonaService_PersonaDatosBasicos_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonaService/PersonaDatosBasicos_UpdateResponse" message="tns:IPersonaService_PersonaDatosBasicos_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PersonaAcademia_Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonaService/PersonaAcademia_Update" message="tns:IPersonaService_PersonaAcademia_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonaService/PersonaAcademia_UpdateResponse" message="tns:IPersonaService_PersonaAcademia_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PersonaExperiencia_Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonaService/PersonaExperiencia_Update" message="tns:IPersonaService_PersonaExperiencia_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonaService/PersonaExperiencia_UpdateResponse" message="tns:IPersonaService_PersonaExperiencia_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PersonaAptitud_Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonaService/PersonaAptitud_Update" message="tns:IPersonaService_PersonaAptitud_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonaService/PersonaAptitud_UpdateResponse" message="tns:IPersonaService_PersonaAptitud_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PersonaCondicionManoObra_Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonaService/PersonaCondicionManoObra_Update" message="tns:IPersonaService_PersonaCondicionManoObra_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonaService/PersonaCondicionManoObra_UpdateResponse" message="tns:IPersonaService_PersonaCondicionManoObra_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActEconomicaAutocomplete">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonaService/ActEconomicaAutocomplete" message="tns:IPersonaService_ActEconomicaAutocomplete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonaService/ActEconomicaAutocompleteResponse" message="tns:IPersonaService_ActEconomicaAutocomplete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CiudadDepartamentoPaisForm">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonaService/CiudadDepartamentoPaisForm" message="tns:IPersonaService_CiudadDepartamentoPaisForm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonaService/CiudadDepartamentoPaisFormResponse" message="tns:IPersonaService_CiudadDepartamentoPaisForm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CiudadAutocompleteForm">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonaService/CiudadAutocompleteForm" message="tns:IPersonaService_CiudadAutocompleteForm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonaService/CiudadAutocompleteFormResponse" message="tns:IPersonaService_CiudadAutocompleteForm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Persona_DatosBasicos">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonaService/Persona_DatosBasicos" message="tns:IPersonaService_Persona_DatosBasicos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonaService/Persona_DatosBasicosResponse" message="tns:IPersonaService_Persona_DatosBasicos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Persona_DatosBasicosPersonas">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonaService/Persona_DatosBasicosPersonas" message="tns:IPersonaService_Persona_DatosBasicosPersonas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonaService/Persona_DatosBasicosPersonasResponse" message="tns:IPersonaService_Persona_DatosBasicosPersonas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Guardar_PersonaTercero">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonaService/Guardar_PersonaTercero" message="tns:IPersonaService_Guardar_PersonaTercero_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonaService/Guardar_PersonaTerceroResponse" message="tns:IPersonaService_Guardar_PersonaTercero_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Guardar_CambiarClave">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonaService/Guardar_CambiarClave" message="tns:IPersonaService_Guardar_CambiarClave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonaService/Guardar_CambiarClaveResponse" message="tns:IPersonaService_Guardar_CambiarClave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Buscar_Persona">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonaService/Buscar_Persona" message="tns:IPersonaService_Buscar_Persona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonaService/Buscar_PersonaResponse" message="tns:IPersonaService_Buscar_Persona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Buscar_personaId">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonaService/Buscar_personaId" message="tns:IPersonaService_Buscar_personaId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonaService/Buscar_personaIdResponse" message="tns:IPersonaService_Buscar_personaId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Buscar_personaDatosModificados">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonaService/Buscar_personaDatosModificados" message="tns:IPersonaService_Buscar_personaDatosModificados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonaService/Buscar_personaDatosModificadosResponse" message="tns:IPersonaService_Buscar_personaDatosModificados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Guardar_Funcionario">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonaService/Guardar_Funcionario" message="tns:IPersonaService_Guardar_Funcionario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonaService/Guardar_FuncionarioResponse" message="tns:IPersonaService_Guardar_Funcionario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Buscar_Funcionario">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonaService/Buscar_Funcionario" message="tns:IPersonaService_Buscar_Funcionario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonaService/Buscar_FuncionarioResponse" message="tns:IPersonaService_Buscar_Funcionario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPersonaService" type="tns:IPersonaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PersonaDatosBasicos_Update">
      <soap:operation soapAction="http://tempuri.org/IPersonaService/PersonaDatosBasicos_Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonaAcademia_Update">
      <soap:operation soapAction="http://tempuri.org/IPersonaService/PersonaAcademia_Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonaExperiencia_Update">
      <soap:operation soapAction="http://tempuri.org/IPersonaService/PersonaExperiencia_Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonaAptitud_Update">
      <soap:operation soapAction="http://tempuri.org/IPersonaService/PersonaAptitud_Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonaCondicionManoObra_Update">
      <soap:operation soapAction="http://tempuri.org/IPersonaService/PersonaCondicionManoObra_Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActEconomicaAutocomplete">
      <soap:operation soapAction="http://tempuri.org/IPersonaService/ActEconomicaAutocomplete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CiudadDepartamentoPaisForm">
      <soap:operation soapAction="http://tempuri.org/IPersonaService/CiudadDepartamentoPaisForm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CiudadAutocompleteForm">
      <soap:operation soapAction="http://tempuri.org/IPersonaService/CiudadAutocompleteForm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Persona_DatosBasicos">
      <soap:operation soapAction="http://tempuri.org/IPersonaService/Persona_DatosBasicos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Persona_DatosBasicosPersonas">
      <soap:operation soapAction="http://tempuri.org/IPersonaService/Persona_DatosBasicosPersonas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Guardar_PersonaTercero">
      <soap:operation soapAction="http://tempuri.org/IPersonaService/Guardar_PersonaTercero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Guardar_CambiarClave">
      <soap:operation soapAction="http://tempuri.org/IPersonaService/Guardar_CambiarClave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Buscar_Persona">
      <soap:operation soapAction="http://tempuri.org/IPersonaService/Buscar_Persona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Buscar_personaId">
      <soap:operation soapAction="http://tempuri.org/IPersonaService/Buscar_personaId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Buscar_personaDatosModificados">
      <soap:operation soapAction="http://tempuri.org/IPersonaService/Buscar_personaDatosModificados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Guardar_Funcionario">
      <soap:operation soapAction="http://tempuri.org/IPersonaService/Guardar_Funcionario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Buscar_Funcionario">
      <soap:operation soapAction="http://tempuri.org/IPersonaService/Buscar_Funcionario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonaService">
    <wsdl:port name="BasicHttpBinding_IPersonaService" binding="tns:BasicHttpBinding_IPersonaService">
      <soap:address location="http://localhost:3487/PersonaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>