co.itmasters.solucion.web/Service References/PersonaService/PersonaService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3487/PersonaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" />
  <xs:import schemaLocation="http://localhost:3487/PersonaService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="PersonaDatosBasicos_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" minOccurs="0" name="pPersona" nillable="true" type="q1:PersonaVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonaDatosBasicos_UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonaAcademia_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" minOccurs="0" name="pPersona" nillable="true" type="q2:PersonaAcademiaVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonaAcademia_UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonaExperiencia_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" minOccurs="0" name="pPersona" nillable="true" type="q3:PersonaExperienciaVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonaExperiencia_UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonaAptitud_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" minOccurs="0" name="pPersona" nillable="true" type="q4:PersonaAptitudVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonaAptitud_UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonaCondicionManoObra_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" minOccurs="0" name="persona" nillable="true" type="q5:PersonaVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonaCondicionManoObra_UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActEconomicaAutocomplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" minOccurs="0" name="Act" nillable="true" type="q6:AutocompleteActividadEconomica" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActEconomicaAutocompleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" minOccurs="0" name="ActEconomicaAutocompleteResult" nillable="true" type="q7:ArrayOfAutocompleteActividadEconomica" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CiudadDepartamentoPaisForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" minOccurs="0" name="Autocomplete" nillable="true" type="q8:AutocompleteFormulario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CiudadDepartamentoPaisFormResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" minOccurs="0" name="CiudadDepartamentoPaisFormResult" nillable="true" type="q9:AutocompleteFormulario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CiudadAutocompleteForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" minOccurs="0" name="Autocomplete" nillable="true" type="q10:AutocompleteFormulario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CiudadAutocompleteFormResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CiudadAutocompleteFormResult" nillable="true" type="q11:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Persona_DatosBasicos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" minOccurs="0" name="pPersona" nillable="true" type="q12:PersonaVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Persona_DatosBasicosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" minOccurs="0" name="Persona_DatosBasicosResult" nillable="true" type="q13:ArrayOfPersonaVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Persona_DatosBasicosPersonas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" minOccurs="0" name="pPersona" nillable="true" type="q14:PersonaVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Persona_DatosBasicosPersonasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" minOccurs="0" name="Persona_DatosBasicosPersonasResult" nillable="true" type="q15:ArrayOfPersonaVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Guardar_PersonaTercero">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" minOccurs="0" name="pPersona" nillable="true" type="q16:PersonaVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Guardar_PersonaTerceroResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Guardar_CambiarClave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" minOccurs="0" name="pPersona" nillable="true" type="q17:FuncionarioVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Guardar_CambiarClaveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Buscar_Persona">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" minOccurs="0" name="pPersona" nillable="true" type="q18:PersonaVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Buscar_PersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" minOccurs="0" name="Buscar_PersonaResult" nillable="true" type="q19:PersonaVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Buscar_personaId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" minOccurs="0" name="ppersona" nillable="true" type="q20:PersonaVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Buscar_personaIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" minOccurs="0" name="Buscar_personaIdResult" nillable="true" type="q21:PersonaVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Buscar_personaDatosModificados">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" minOccurs="0" name="ppersona" nillable="true" type="q22:PersonaVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Buscar_personaDatosModificadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" minOccurs="0" name="Buscar_personaDatosModificadosResult" nillable="true" type="q23:ArrayOfPersonaVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Guardar_Funcionario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" minOccurs="0" name="funcionario" nillable="true" type="q24:FuncionarioVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Guardar_FuncionarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Buscar_Funcionario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" minOccurs="0" name="funcionario" nillable="true" type="q25:FuncionarioVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Buscar_FuncionarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" minOccurs="0" name="Buscar_FuncionarioResult" nillable="true" type="q26:FuncionarioVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>