co.itmasters.solucion.web/Service References/MercadoPagoService/MercadoPagoService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3487/MercadoPagoService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="RecibirInformacionBackUrl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="preferenceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="collection_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payment_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="external_reference" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payment_type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="merchant_order_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="site_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="processing_mode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="merchant_account_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecibirInformacionBackUrlResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="inputStream" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessNotificationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>