co.itmasters.solucion.web/Service References/MercadoPagoService/MercadoPagoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="MercadoPagoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3487/MercadoPagoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3487/MercadoPagoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3487/MercadoPagoService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMercadoPagoService_RecibirInformacionBackUrl_InputMessage">
    <wsdl:part name="parameters" element="tns:RecibirInformacionBackUrl" />
  </wsdl:message>
  <wsdl:message name="IMercadoPagoService_RecibirInformacionBackUrl_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecibirInformacionBackUrlResponse" />
  </wsdl:message>
  <wsdl:message name="IMercadoPagoService_ProcessNotification_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessNotification" />
  </wsdl:message>
  <wsdl:message name="IMercadoPagoService_ProcessNotification_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessNotificationResponse" />
  </wsdl:message>
  <wsdl:portType name="IMercadoPagoService">
    <wsdl:operation name="RecibirInformacionBackUrl">
      <wsdl:input wsaw:Action="http://tempuri.org/IMercadoPagoService/RecibirInformacionBackUrl" message="tns:IMercadoPagoService_RecibirInformacionBackUrl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMercadoPagoService/RecibirInformacionBackUrlResponse" message="tns:IMercadoPagoService_RecibirInformacionBackUrl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessNotification">
      <wsdl:input wsaw:Action="http://tempuri.org/IMercadoPagoService/ProcessNotification" message="tns:IMercadoPagoService_ProcessNotification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMercadoPagoService/ProcessNotificationResponse" message="tns:IMercadoPagoService_ProcessNotification_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMercadoPagoService" type="tns:IMercadoPagoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecibirInformacionBackUrl">
      <soap:operation soapAction="http://tempuri.org/IMercadoPagoService/RecibirInformacionBackUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessNotification">
      <soap:operation soapAction="http://tempuri.org/IMercadoPagoService/ProcessNotification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MercadoPagoService">
    <wsdl:port name="BasicHttpBinding_IMercadoPagoService" binding="tns:BasicHttpBinding_IMercadoPagoService">
      <soap:address location="http://localhost:3487/MercadoPagoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>