co.itmasters.solucion.web/Service References/MercadoPagoService/MercadoPagoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3487/MercadoPagoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" />
  <xs:element name="UpdatePayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" minOccurs="0" name="payment" nillable="true" type="q1:PaymentVO" />
        <xs:element minOccurs="0" name="estadoPago" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePaymentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" minOccurs="0" name="GetPaymentResult" nillable="true" type="q2:PaymentVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>