co.itmasters.solucion.web/Service References/MercadoPagoService/MercadoPagoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3487/MercadoPagoService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="PaymentVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="accounts_info" nillable="true" type="xs:anyType" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="acquirer_reconciliation" nillable="true" type="q1:ArrayOfanyType" />
      <xs:element minOccurs="0" name="additional_info" nillable="true" type="tns:AdditionalInfo" />
      <xs:element minOccurs="0" name="authorization_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="binary_mode" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="brand_id" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="build_version" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="call_for_authorize_id" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="captured" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="card" nillable="true" type="tns:Card" />
      <xs:element minOccurs="0" name="charges_details" nillable="true" type="tns:ArrayOfChargesDetails" />
      <xs:element minOccurs="0" name="collector_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="corporation_id" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="counter_currency" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="coupon_amount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="currency_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="date_approved" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="date_created" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="date_last_updated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="date_of_expiration" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="deduction_schema" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="differential_pricing_id" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="external_reference" nillable="true" type="xs:anyType" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="fee_details" nillable="true" type="q2:ArrayOfanyType" />
      <xs:element minOccurs="0" name="financing_group" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="installments" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="integrator_id" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="issuer_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="live_mode" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="marketplace_owner" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="merchant_account_id" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="merchant_number" nillable="true" type="xs:anyType" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="metadata" nillable="true" type="q3:ArrayOfKeyValueOfstringanyType" />
      <xs:element minOccurs="0" name="money_release_date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="money_release_schema" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="money_release_status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="net_amount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="notification_url" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="operation_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="order" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="payment_method" nillable="true" type="tns:PaymentMethod" />
      <xs:element minOccurs="0" name="payment_type_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="transaction_amount" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentVO" nillable="true" type="tns:PaymentVO" />
  <xs:complexType name="AdditionalInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="authentication_code" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="available_balance" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="ip_address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="items" nillable="true" type="tns:ArrayOfItem" />
      <xs:element minOccurs="0" name="nsu_processadora" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdditionalInfo" nillable="true" type="tns:AdditionalInfo" />
  <xs:complexType name="ArrayOfItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItem" nillable="true" type="tns:ArrayOfItem" />
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element minOccurs="0" name="category_id" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="picture_url" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="quantity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="unit_price" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Item" nillable="true" type="tns:Item" />
  <xs:complexType name="Card">
    <xs:sequence>
      <xs:element minOccurs="0" name="bin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cardholder" nillable="true" type="tns:Cardholder" />
      <xs:element minOccurs="0" name="date_created" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="date_last_updated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="expiration_month" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="expiration_year" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="first_six_digits" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="last_four_digits" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Card" nillable="true" type="tns:Card" />
  <xs:complexType name="Cardholder">
    <xs:sequence>
      <xs:element minOccurs="0" name="identification" nillable="true" type="tns:Identification" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cardholder" nillable="true" type="tns:Cardholder" />
  <xs:complexType name="Identification">
    <xs:sequence>
      <xs:element minOccurs="0" name="number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Identification" nillable="true" type="tns:Identification" />
  <xs:complexType name="ArrayOfChargesDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChargesDetails" nillable="true" type="tns:ChargesDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChargesDetails" nillable="true" type="tns:ArrayOfChargesDetails" />
  <xs:complexType name="ChargesDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="accounts" nillable="true" type="tns:Accounts" />
      <xs:element minOccurs="0" name="amounts" nillable="true" type="tns:Amounts" />
      <xs:element minOccurs="0" name="client_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="date_created" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="last_updated" nillable="true" type="xs:dateTime" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="metadata" nillable="true" type="q4:ArrayOfKeyValueOfstringanyType" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="refund_charges" nillable="true" type="q5:ArrayOfanyType" />
      <xs:element minOccurs="0" name="reserve_id" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChargesDetails" nillable="true" type="tns:ChargesDetails" />
  <xs:complexType name="Accounts">
    <xs:sequence>
      <xs:element minOccurs="0" name="from" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="to" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Accounts" nillable="true" type="tns:Accounts" />
  <xs:complexType name="Amounts">
    <xs:sequence>
      <xs:element minOccurs="0" name="original" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="refunded" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Amounts" nillable="true" type="tns:Amounts" />
  <xs:complexType name="PaymentMethod">
    <xs:sequence>
      <xs:element minOccurs="0" name="data" nillable="true" type="tns:Data" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="issuer_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentMethod" nillable="true" type="tns:PaymentMethod" />
  <xs:complexType name="Data">
    <xs:sequence>
      <xs:element minOccurs="0" name="routing_data" nillable="true" type="tns:RoutingData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Data" nillable="true" type="tns:Data" />
  <xs:complexType name="RoutingData">
    <xs:sequence>
      <xs:element minOccurs="0" name="merchant_account_id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoutingData" nillable="true" type="tns:RoutingData" />
</xs:schema>