co.itmasters.solucion.web/Service References/SeguridadService/SeguridadService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3487/SeguridadService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" />
  <xs:element name="RegistroUsuarioTokenEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" minOccurs="0" name="Actor" nillable="true" type="q1:UsuarioVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistroUsuarioTokenEmpresaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistroUsuarioEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" minOccurs="0" name="Actor" nillable="true" type="q2:UsuarioVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistroUsuarioEmpresaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistroUsuarioCandidato">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" minOccurs="0" name="Actor" nillable="true" type="q3:UsuarioVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistroUsuarioCandidatoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizaContrasena">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" minOccurs="0" name="Actor" nillable="true" type="q4:UsuarioVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizaContrasenaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="validarToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" minOccurs="0" name="token" nillable="true" type="q5:UsuarioVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validarTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="validarTokenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestablecerContrasena">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" minOccurs="0" name="Actor" nillable="true" type="q6:UsuarioVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestablecerContrasenaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="validarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="validarUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" minOccurs="0" name="getUsuarioResult" nillable="true" type="q7:UsuarioVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarPreguntas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" minOccurs="0" name="Usuario" nillable="true" type="q8:UsuarioVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarPreguntasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" minOccurs="0" name="buscarPreguntasResult" nillable="true" type="q9:ArrayOfUsuarioVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarRespuestas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" minOccurs="0" name="Usuario" nillable="true" type="q10:UsuarioVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarRespuestasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" minOccurs="0" name="EnviarRespuestasResult" nillable="true" type="q11:ArrayOfUsuarioVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>