co.itmasters.solucion.web/Service References/SeguridadService/SeguridadService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/co.itmasters.solucion.vo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UsuarioVO">
    <xs:sequence>
      <xs:element name="_x003C_Apellido1_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Apellido2_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Avatar_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Dominio_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Formulario_x003E_k__BackingField" nillable="true" type="tns:ArrayOfFormularioVO" />
      <xs:element name="_x003C_IdEmpresa_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_IdUsuario_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_NomEmpresa2_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NomEmpresa_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NomUsuario_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Nombre1_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Nombre2_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NombreCompleto_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NumIdentificacion_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Rol_x003E_k__BackingField" nillable="true" type="tns:ArrayOfRolVO" />
      <xs:element name="_x003C_TipIdentificacion_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Token_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_WebSite_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_desPregunta_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_diligenciaFormulario_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_esAdmon_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_idPregunta1Retornar_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_idPregunta2Retornar_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_idPregunta3Retornar_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_idPregunta_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_numRespuestasIncorrectas_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_pasword1_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_pasword2_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_respuesta1_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_respuesta2_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_respuesta3_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_resultadoEnvioRespuestas_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_tipoUsuario_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_valorRespuesta1_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_valorRespuesta2_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_valorRespuesta3_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioVO" nillable="true" type="tns:UsuarioVO" />
  <xs:complexType name="ArrayOfFormularioVO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FormularioVO" nillable="true" type="tns:FormularioVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFormularioVO" nillable="true" type="tns:ArrayOfFormularioVO" />
  <xs:complexType name="FormularioVO">
    <xs:sequence>
      <xs:element name="_x003C_Direccion_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IdFormulario_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_IdPadre_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_NomFormulario_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_RutaIcono_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Visible_x003E_k__BackingField" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FormularioVO" nillable="true" type="tns:FormularioVO" />
  <xs:complexType name="ArrayOfRolVO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RolVO" nillable="true" type="tns:RolVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRolVO" nillable="true" type="tns:ArrayOfRolVO" />
  <xs:complexType name="RolVO">
    <xs:sequence>
      <xs:element name="_x003C_IdRol_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Nombre_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_tipoUsuario_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RolVO" nillable="true" type="tns:RolVO" />
  <xs:complexType name="ArrayOfUsuarioVO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsuarioVO" nillable="true" type="tns:UsuarioVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuarioVO" nillable="true" type="tns:ArrayOfUsuarioVO" />
</xs:schema>